appdirs==1.4.2
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
buildbot==0.9.4
buildbot-console-view==0.9.4
buildbot-waterfall-view==0.9.4
buildbot-worker==0.9.4
buildbot-www==0.9.4
cffi==1.9.1
constantly==15.1.0
cryptography==1.7.2
decorator==4.0.11
enum34==1.1.6
Fabric==1.13.1
future==0.16.0
idna==2.4
incremental==16.10.1
ipaddress==1.0.18
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
paramiko==2.1.2
pbr==2.0.0
pyasn1==0.2.3
pycparser==2.17
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.6.0
six==1.10.0
SQLAlchemy==1.1.6
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
Twisted==17.1.0
txaio==2.6.1
zope.interface==4.3.3
